/*
.table .thead-dark th {
	background-color: black !important;
}*/
.container-fluid table {
    font-size: 2.2vw;
}
.container-fluid #searchAddrInfo {
    font-size: 2.2vw;
}
.main-container {
    width: 100%;
    min-height: 100%;
}
#vmap {
    width: 100%;
    min-height: 566px;
    left: 0;
    top: 0;
}
.input-group-text.fas {
    padding-top: 7px;
}

/*
##Device = Low Resolution Tablets, Mobiles (Landscape)
##Screen = B/w 481px to 767px
##Device = 저해상도 태블릿, 모바일(가로)
##Screen = 481px에서 767px 사이
*/

/*@media (min-width: 481px) and (max-width: 767px) {*/
/*    .container-fluid .table {*/
/*        font-size: 2vw;*/
/*    }*/
/*}*/

/*
##Device = Most of the Smartphones Mobiles (Portrait)
##Screen = B/w 320px to 479px
##Device = 대부분의 스마트폰 모바일 기기(세로)
##Screen = 320px에서 479px 사이
*/

/*@media (min-width: 320px) and (max-width: 480px) {*/
/*    .container-fluid {*/
/*        font-size: 1.5vw;*/
/*    }*/
/*}*/