/*
.table .thead-dark th {
	background-color: black !important;
}*/

.map-container {
    /*height: 420px;*/
}
#vmap {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
.input-group-text.fas {
    padding-top: 7px;
}