/*
.table .thead-dark th {
	background-color: black !important;
}*/
/*.container-fluid .table {*/
/*    font-size: 16px;*/
/*}*/
/*.container-fluid #searchAddrInfo {*/
/*    font-size: 16px;*/
/*}*/
/*footer small {*/
/*    font-size: 10px !important;*/
/*}*/
body {
    font-size: 16px !important;
}
.main-container {
    width: 100%;
    height: 100vh;
}
#vmap {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
.bd-masthead .input-group-text {
    border: 1px solid #343a40 !important;
}
/*.input-group-text.fas {*/
/*    padding-top: 0.65rem;*/
/*}*/

/*
##Device = Low Resolution Tablets, Mobiles (Landscape)
##Screen = B/w 481px to 767px
##Device = 저해상도 태블릿, 모바일(가로)
##Screen = 481px에서 767px 사이
*/

@media (min-width: 481px) and (max-width: 767px) {
    body {
        font-size: 16px !important;
    }
    .container-fluid .table {
        font-size: 2.5vw;
    }
    .container-fluid #searchAddrInfo {
        font-size: 2.5vw;
    }
    /*#vmap {*/
    /*    width: 100%;*/
    /*    height: 75.5%;*/
    /*    left: 0;*/
    /*    top: 0;*/
    /*}*/
}

/*
##Device = Most of the Smartphones Mobiles (Portrait)
##Screen = B/w 320px to 479px
##Device = 대부분의 스마트폰 모바일 기기(세로)
##Screen = 320px에서 479px 사이
*/

@media (min-width: 320px) and (max-width: 480px) {
    body {
        font-size: 16px !important;
    }
    .container-fluid table {
        font-size: 3.5vw;
    }
    .container-fluid #searchAddrInfo {
        font-size: 3.5vw;
    }
    /*#vmap {*/
    /*    width: 100%;*/
    /*    height: 75.5%;*/
    /*    left: 0;*/
    /*    top: 0;*/
    /*}*/
}